/* Reset the default settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Layout of Navbar */
.Navbar-Out {
    background: black;
    overflow: hidden;
    margin: 30px;
    position: sticky;
    top: 0;
}

/* Navbar Default settings */
a {
    text-decoration: none;
    color: blanchedalmond;
    
    /* Button settings */
    padding: 10px 15px 10px 15px;
    display: block;
    float:left ;
    border-radius: 25px;
}

/* Aktivated link effect */
a:hover {
    background: white;
    color: black;
    text-align: center;
}

/* Layout of image */
div.TheFrame {
    width: 90%;
}
/* div>img {
    width: 100%;
} */

/* First slide text */
.OpeningText {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 50px;
}

.Skills {
    box-sizing: border-box;
    font-size: 25px;
    background: rosybrown;
    width: 100%;
    /* margin: 30px */
    ;
}

td {
    text-align: center;
}

th td {
    float: left;
    border: 1px solid black;
    border-spacing: 5px;
    background: rosybrown;

}