*           {margin: 0px; padding: 0px; font-family:Arial, Helvetica, sans-serif;}
html        {scroll-behavior: smooth;}
body        {display: inline-block; display: block;}
.nav        {position: sticky; top: 0px;display: flex; align-content: center;}
.Nav-Outer  {position: sticky; top: 0px;}
.Nav-Out    {margin: 30px 30px 0 30px; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; background: chartreuse; height: 30px; align-items: center;}
a           {text-decoration: none; font-weight:bold; font-size: 20px; display: block; background: violet; width: 25%; text-align: center; border-radius: 25px;}
a:hover     {background: turquoise;}
.Img-Out    {margin: 0 30px 0 30px; background-image: url(https://i.pinimg.com/originals/00/f1/89/00f1894ee185b89d5f658083d01466f9.jpg); background-repeat:no-repeat;height: 100vh; background-position: center; background-size: 100%;}
.Text-Out {margin: 0 30px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; background: red; padding: 10px; text-align: justify;}
.Skills-Out {display: grid;margin: 0 30px 0 30px;}